@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example CSS styles, adjust as needed */
/* styles.module.css */

.marqueeContainer {
  display: flex;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Additional styling for your images */
.marqueeImage {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Adjust spacing between images */
}
