@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Apply the animation to the marquee class */
.marquee {
  width: 200px;
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
  border: 1px solid #ddd;
  animation: scroll 10s linear infinite; /* Change 10s to your desired duration */
}
